*{
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    display: flex;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.text h1{
    font-family: 'Lucida Sans';
    margin-left: 50px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 53, 168);
    text-shadow: 2px 2px 4px rgba(255, 255, , 0.05);
    margin-top: -345px;
    position: absolute;
}
.calc-body{
    margin: 30px;
    background: aquamarine;
    width: 70vw;
    height: 80vh;
    border-radius: 20px;
}
.result{
    position: absolute;
    align-items: right;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 80vh;
    width: 30vw;
    background: radial-gradient(
        rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.5)
    );
}
.result h1{
    font-size: 55px;
    margin: 45px 0;
    text-align: center;
}
h2{
    font-size: 35px;
    margin: 10px 30px;
}
.show{
    margin-top: 85px;
}
.inp{
    text-align: center;
    justify-content: right;
    align-items: center;
    width: 65vw;
    height: 70vh;
    display: flex;
}

input{
    font-weight: 880;
    border-radius: 10px;
    margin: 13px;
    height: 45px;
    padding: 20px;
    border: black;
    outline: none;
    font-size: 20px;
    border: 1px solid rgb(223, 217, 217);
    background: rgba(0, 0, 0, 0.05);
}

.main{
    margin-left: 45px;
}
button{
    margin-top: 20px;
    height: 45px;
    width: 200px;
    font-weight: 650;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(223, 217, 217);
    outline: none;
    font-size: 20px;
}

::placeholder{
    font-weight: 850;
}
.bottom-text h1{
    margin-left: -965px;
    font-size: 60px;
    color: #F0E7E5;
    text-shadow: 2px 2px 4px rgba(255, 255, , 0.05);
    margin-top: 255px;
    position: absolute;
}
.result-show{
    text-align: center;
    margin-top: 19.5px;
    height: 45px;
    width: 70vw;
    background-color:slateblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.result-show h1{
    font-size: 33px;

}